[submodule "meteowan"]
	path = meteowan
	url = https://gitlab.ciel-kastler.fr/projets-snir-2024/meteowan_2024/site-web
[submodule "progressbar"]
	path = progressbar
	url = https://github.com/yannctroff/progress-bar
[submodule "monprenom"]
	path = monprenom
	url = https://github.com/yannctroff/valeur_prenom
