[submodule "meteowan"]
	path = meteowan
	url = https://github.com/yannctroff/meteowan
[submodule "progressbar"]
	path = progressbar
	url = https://github.com/yannctroff/progress-bar
[submodule "monprenom"]
	path = monprenom
	url = https://github.com/yannctroff/valeur_prenom
